// category page styles

.category-section {
    padding-top: 40px;
    padding-bottom: 64px;

    @include media-medium() {
        padding-bottom: 68px;
    }

    &__section-title {
        margin-bottom: 40px;
    }

    &__list {
        padding: 0;
        margin: 0;
        display: grid;
    }

    &__list-item:nth-child(3) .category-section__list-item-img {
        @include media-extra-large() {
           height: 280px;
        }
    }

    &__list-item:nth-child(4) .category-section__list-item-img {
        @include media-extra-large() {
           height: 240px;
        }
    }

    &__list-item:nth-child(5) .category-section__list-item-img {
        @include media-extra-large() {
           height: 280px;
        }
    }

    &__list-item:nth-child(5) .category-section__list-item-img {
        @include media-extra-large() {
            height: 310px;
        }
    }

    &__list-item:nth-child(6) .category-section__list-item-img {
        @include media-extra-large() {
            height: 310px;
        }
    }

    &__list-item:nth-child(7) .category-section__list-item-img {
        @include media-extra-large() {
            height: 240px;
        }
    }

    &__list-item:nth-child(8) .category-section__list-item-img {
        @include media-extra-large() {
            height: 240px;
        }
    }

    &__list-item:nth-child(9) .category-section__list-item-img {
        @include media-extra-large() {
            height: 260px;
        }
    }

    &__list-item-link {
        display: flex;
        align-items: center;
        padding-top: 23px;
        padding-bottom: 22px;
        padding-left: 22px;
        background-color: var(--white-color);
        border: 1px solid var(--dark-color-1);
        color: inherit;
        text-decoration: none;
        transition: .3s ease-in-out;
        position: relative;

        @include media-medium() {
            padding-top: 19px;
            padding-bottom: 33px;
            justify-content: space-between;
            align-items: flex-start;
        }

        @include media-extra-large() {
            padding-top: 32px;
            padding-bottom: 32px;
            padding-left: 112px;
        }
    }

    &__list-item-link:hover,
    &__list-item-link:active,
    &__list-item-link:focus {
        background-color: var(--accent-color);
        transform: translate(-8px, -8px);
        box-shadow: 8px 8px 0px rgba(15, 25, 55, 0.3);

        .category-section__list-item-title {
           color: var(--white-color);
        }

        .category-section__list-item-img {
            filter: drop-shadow(8px 8px 0px rgba(15, 25, 55, 0.3));
        }
        .category-section__list-item-picture {
            @include media-extra-large() {
                height: 154px;
                opacity: 1;
            }
        }
    }

    &__list-item-title {
        font-weight: 700;
font-size: 20px;
line-height: 24px;
color: var(--dark-color);
transition: .3s ease-in-out;

@include media-medium() {
    font-size: 26px;
    line-height: 32px;
    margin-top: 15px;
    max-width: 30ch;
}

@include media-extra-large() {
    margin-top: 0;
    font-size: 32px;
line-height: 36px;
max-width: 100%;
}
    }

    &__list-item-picture {
        display: none;
        position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    transition: .3s ease-in-out;

        @include media-medium() {
            display: block;
        }

        @include media-extra-large() {
            right: 4rem;
            top: unset;
            height: 0;
            overflow: hidden;
            opacity: 0;
        }
    }

    &__list-item-img {
        transition: .3s ease-in-out;
        object-fit: cover;
        clip-path: inset(0 0 0 0);

        @include media-medium() {
            width: 160px;
            height: 140px;
        }

        @include media-extra-large() {
            width: 340px;
            height: 170px;
        }
    }
}